.introduction {
  height: 100%;
  text-align: center;

  &-content {
    height: 150px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    font-size: 337.5%;

    &__input {
      min-width: 40%;
      max-width: 90%;
      margin: 0 auto;
      padding-top: 15px;
      display: inline-block !important;
      border-bottom: 3px solid #fff;
      line-height: normal;
      overflow: hidden;

      #introduction-input {
        background-color: transparent;
        border: 0;
        width: 20px;
        min-width: 567px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: 100%;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}

.clock {
  margin-top: -10px;

  &-time {
    cursor: default;
    font-size: 1050%;
    letter-spacing: -5px;
    font-weight: 500;
    user-select: none;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  &-greeting {
    font-size: 337.5%;
    font-weight: 500;
    user-select: none;
    text-align: center;
    line-height: 1;

    &__name {
      margin-left: 16px;

      &--editable {
        margin-left: 16px;
        max-width: 3em;
        font-size: inherit;
        font-weight: inherit;
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: auto;
        min-width: 1.5em;
        border-bottom: 2px solid #fff;
        border-right: 1px solid transparent;

        &:focus {
          outline: none;
          animation: PulseAttention 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
            forwards infinite;
        }

        @keyframes PulseAttention {
          50% {
            border-color: #fff;
          }
        }
      }
    }

    &-more {
      &.active {
        .dropdown {
          display: block;
        }
      }
    }
  }

  .dropdown {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(15, 15, 15, 0.925);

    li {
      list-style-type: none;
    }
  }
}
