.introduction {
  height: 100%;
  text-align: center;

  &-content {
    height: 150px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    font-size: 337.5%;

    &__input {
      min-width: 40%;
      max-width: 90%;
      margin: 0 auto;
      padding-top: 15px;
      display: inline-block !important;
      border-bottom: 3px solid #fff;
      line-height: normal;
      overflow: hidden;

      #introduction-input {
        background-color: transparent;
        border: 0;
        width: 20px;
        min-width: 567px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: 100%;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}

.clock {
  margin-top: -10px;

  &-time {
    cursor: default;
    font-size: 1050%;
    letter-spacing: -5px;
    font-weight: 500;
    user-select: none;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  &-greeting {
    font-size: 337.5%;
    font-weight: 500;
    user-select: none;
    text-align: center;
    line-height: 1;

    &__name {
      &--editable {
        margin-left: 16px;
        max-width: 3em;
        font-size: inherit;
        font-weight: inherit;
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: auto;
        min-width: 1.5em;
        border-bottom: 2px solid #fff;
        border-right: 1px solid transparent;

        &:focus {
          outline: none;
        }
      }
    }

    &-more {
      position: relative;
      top: 4px;
      margin-left: 10px;
      cursor: pointer;
      padding: 8px;
      border-radius: 50%;
      background: transparent;
      transition: .4s;
      display: inline-flex;

      &:hover {
        background: rgba(255, 255, 255, .2);
      }

      &.active {
        .dropdown {
          display: block;
        }
      }
    }
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 44px;
    left: -6px;
    min-width: max-content;
    background-color: rgba(15, 15, 15, 0.925);
    border-radius: 4px;

    li {
      list-style-type: none;
      padding: 10px;
    }

    &::after {
      height: 0;
      width: 0;
      position: absolute;
      display: block;
      border-left: 7px solid transparent;
      overflow: visible;
      border-right: 7px solid transparent;
      content: '';
      opacity: 1;
      top: -6px;
      left: 14px;
      border-bottom: 6px solid rgba(15,15,15,.925);
    }
  }
}
