.weather {
    margin: 14px 0 10px 10px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    cursor: pointer;

    &-wrapper {
        flex-direction: column nowrap;
        justify-content: right;
    }
  
    &-stat {
      font-size: 140%;
      letter-spacing: 1px;
      font-weight: 500;
      user-select: none;
      text-align: right;
      line-height: 100%;
      white-space: nowrap;
      display: flex;
      flex-flow: row nowrap;
      justify-content: right;
      vertical-align: top;
    }
  
    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 6px;
      line-height: 50%;
      display: inline-block;
      display: flex;
      
    }

    &-location-label {
      max-width: 110px;
      margin: 0;
      padding: 3px 0;
      display: inline-block;
      font-size: 80%;
      font-weight: 500;
      opacity: .7;
      text-transform: uppercase;
      vertical-align: top;
      overflow-wrap: break-word;
      transition: opacity .5s ease;
      display: block;
    }
  }