body{
  background-color: rgb(87, 86, 86);
}
@font-face {
  font-family: 'MomentumFont';
  src: url('/src/resources/fonts/NHaasGroteskTXPro-55Rg') format('woff');
  font-weight: normal;
  font-style: normal;
}


.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'MomentumFont', Arial, Helvetica, sans-serif;
}

.app-container {
  transition: opacity 0.5s ease;
}

.top-row {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
}

.top-left {
  position: relative;
  flex: 1 0 auto;
  padding-right: 38px;
  padding-top: 10px;
}

.top-right {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: right;
  z-index: 2;
}

.center {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.center-below {
  position: absolute;
  display: block;
  top: 77%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.bottom {
  position: absolute;
  width: 50%;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#todo{
  font-size: 18px;
}

.bottom-right {
  position: absolute;
  z-index: 10;
  bottom: 25px;
  right: 25px;
}

.bottom-left {
  bottom: 0;
  left: 0;
  z-index: 2;
}

//Stop iOS styling input fields https://www.daretothink.co.uk/stop-ios-styling-your-input-fields-and-buttons/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

//Media queries for responsive design
@media screen and (max-width: 900px) {
  .center,
  .center-below,
  body {
    font-size: 95%;
  }
}

@media screen and (max-width: 760px), (max-height: 650px) {
  .center,
  .center-below,
  body {
    font-size: 90%;
  }
  .center-below {
    top: 74%;
  }
}

@media screen and (max-width: 500px), (max-height: 550px) {
  .center,
  .center-below {
    font-size: 80%;
  }
  .center-below {
    top: 71%;
  }
}

//Mobiles
@media screen and (max-width: 375px), (max-height: 500px) {
  .center,
  .center-below {
    font-size: 70%;
  }
  .center-below {
    top: 68%;
  }
}

//Remove clock if reduced height
@media screen and (max-height: 400px) {
  .center {
    top: 30%;
  }
  .center .clock {
    display: none !important;
  }
  .center-below {
    top: 50%;
  }
}
